\illustrations
*\optics_intermediate

# IDE files
*\.idea

*\__pycache__
/Optics_exp/results/results_optics_05.06.24/
/Optics_exp/results/results_optics/solutions visualization/solutions factors_max_number=1/
/Optics_exp/results/results_optics/solutions visualization/solutions factors_max_number=2/
/Optics_exp/results/results_optics/solutions visualization/solutions_1/
/Optics_exp/results/results_optics/solutions visualization/solutions_2/
/Optics_exp/results/results_optics/solutions visualization/solutions_3/
