\illustrations
*\optics_intermediate

# IDE files
*\.idea

*\__pycache__
/DE_discovery/results/results_optics_05.06.24/
/DE_discovery/results/old results/
/Data collecting/different r0/
/Data collecting/different n0/
/Data collecting/different eps_cyl/
/DE_discovery/results/results_optics_09.06.24_1/
